footer {
    margin-top: 50px;
    background-color: #402960;
    padding: 25px 0;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer nav ul li {
    font-size: 1vw;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer nav ul li:hover {
    text-decoration: underline;
}

footer nav ul li img {
    height: 1vw;
    filter: invert(1) brightness(2);
}

.logo-footer h1 {
    font-size: 1.5vw;
    color: white;
}