header {
    background-color: var(--background-color-header);
    width: 100%;
    display: inline-flex;
    justify-content: space-around   ;
    align-items: center;
    padding: 15px 0 15px 0;
}

.logo {
    text-align: center;
    cursor: pointer;
    color: var(--color-logo);
    text-decoration: none;
}

.logo img {
    height: var(--logo-height);
}

header h1 {
    text-align: center;
    font-size: var(--font-size-header-h1);
}

header .lista ul {
    list-style-type: none;
    display: inline-flex;
    gap: 15px;
    font-size: var(--font-size-header-ul);
    /* melhor contraste do q o branco */
    color: var(--default-color-font-header);
}

header .lista ul a {
    color: var(--default-color-font-header);
    text-decoration: none;
}

header .lista ul li:hover, header .lista ul a:hover {
    text-decoration: underline;
    cursor: pointer;
}